<html>
    <head>
        <style>
            #tab {
                -moz-tab-size: 16; /* Firefox */
                -o-tab-size: 16; /* Opera 10.6-12.1 */
                tab-size: 16;
            }
            div {
                background-color: white;
                width: 600px;
                border: 1px solid red;
                padding: 25px;
                margin: 1px;
            }
        </style>
    </head>
    <body style='font-family:verdana;background-color:lightgrey;'>
        <h2 style="color:tomato;">Output of the selected MySQL Query</h2>
        <div>
            <br>
            {% for item in data %}
            <tr>
                <pre id="tab">
                    <td>
Hostname        :   {{item[0]}}
SerialNumber    :   {{item[1]}}
Vendor          :   {{item[2]}}
LDEV            :   {{item[3]}}
LTYPE           :   {{item[4]}}
Device          :   {{item[5]}}
MNAME           :   {{item[6]}}
LNAME           :   {{item[7]}}
LGROUP          :   {{item[8]}}
                    </td>
                </pre>
            </tr>
            {% endfor %}
        </div>
    </body>
</html>
